<!doctype html>

<html>
    <body>
        <section>
            <h2>Registration Donate</h2>
            <form>
                <label>Donatation
                    <input type="text">
                </label>
                <p>
                <label>Amount
                    <input type="text">
                </label>
                </p>
            </form>
            <form action="/request/donation">
                <button type="submit">Donate</button>
            </form>
            <h2>Registration Donating</h2>
            <form action="/request/donation">
                <button type="submit">Ask for donate</button>
            </form>
        </section>
    </body>
</html>