<!doctype html>
<html>
    <body>
        <section>
            <h2>Registration Donate</h2>
            <form action="/donate" method="post">
                <label>Donation
                    <input type="text" name="name">
                </label>
                <p>
                <label>Amount
                    <input type="number" name="amount">
                </label>
                </p>
                <button type="submit">Donate</button>
            </form>
            <h2>Registration Donating</h2>
            <form action="/request/donation">
                <button type="submit">Ask for donate</button>
            </form>
        </section>
    </body>
</html>